.ad {
  margin-bottom: 50px;
  position: relative;

  img {
    width: 100%;
  }

  .ad-inner {
    padding: 10px;
    position: absolute;
    bottom: 0;
  }

  .ad-copy {
    @extend h3;

    color: white;
    font-weight: $font-weight-bold;
    padding: 0 10px;
  }
}
