.secondary-navigation {
  .twitter-hashtag {
    color: $brand-primary;
    font-size: 60px;
    font-weight: $font-weight-light;

    span {
      font-family: $headings-font-family;
      font-weight: $font-weight-bold;
    }
  }

  ul {
    font-family: $headings-font-family;
    font-size: $font-size-small;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
  }

  li a {
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
  @media screen and ( max-width:$screen-sm ){
    text-align: center;
    ul{
      font-size:$font-size-extra-small;
    }
  }
}
