<form name="mgform" onsubmit="return validateform();" action="https://www.eventbrite.com/orderstart?ebtv=C" method="post" style="margin: 0px;">
  <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="4BDPC7gwlRzCkeX8PUu3zHnDfKgWZyHZ"></div>
  <input type="hidden" name="eid" value="16632726934">
  <input type="hidden" name="eventpassword" value="">
  <input type="hidden" name="affiliate" value="etckt">
  <input type="hidden" name="referral_code" value="">
  <input type="hidden" name="referrer" value="">
  <input type="hidden" name="invite" value="">
  <input type="hidden" name="t" value="uLm15La2sLays+a4trbm4bDm4rjksrjl5bGw4bXi4bHf37eyrrO4rrmyrrmx37G0tLG5uLWwsLA=">
  <input type="hidden" name="w" value="">
  <input type="hidden" name="waitlist_code" value="">
  <input type="hidden" id="ticketCurrency" value="CA$">
  <input type="hidden" name="has_javascript" value="1">
  <input type="hidden" name="_nomo" value="">
  <input type="hidden" name="source_id" value="08a89521589911e581eb22000b7f83de">
  <input type="hidden" name="payment_type" value="eventbrite">
  <script type="text/javascript">
    document.mgform.has_javascript.value = '1';
  </script>
  <div class="l-block-stack">
    <div class="panel_head2 l-block-3" id="ticketInfo">
      <h3>Ticket Information</h3>
    </div>
  </div>
  <div id="TicketReg" class="panel_body">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table">
      <tbody><tr class="ticket_table_head">
        <td width="40%" nowrap="nowrap">
          Ticket Type
        </td>
        <td>Sales End</td>
        <td>
          Price
        </td>
        <td>Fee</td>
        <td>GST/HST</td>
        <td width="70" align="right">Quantity</td>
      </tr>
      <tr class="ticket_row">
        <td class="ticket_type_name">
          Registration
          <div id="descriptionDiv35327078" style="font-size: 11px; line-height: 12px; margin: 5px 0 0 0;">Total registration fee including taxes is $950 CDN. For more details see description.</div>
        </td>
        <td nowrap="nowrap">
          15 Sep 2015
        </td>
        <td nowrap="nowrap" class="price_td">
          <input type="hidden" name="cost_35327078_None" value="801.34">
          $840.71
        </td>
        <td nowrap="nowrap" class="fee_td">
          $0.00
        </td>
        <td nowrap="nowrap">
          $109.29
        </td>
        <td align="right" nowrap="nowrap">
          <label class="is-hidden-accessible" for="quant_35327078_None">Ticket Quantity Select</label>
          <select class="ticket_table_select" name="quant_35327078_None" id="quant_35327078_None" onchange="updateCheckout();">
            <option value="0">0</option>
            <option value="1">1&nbsp;</option>
            <option value="2">2&nbsp;</option>
            <option value="3">3&nbsp;</option>
            <option value="4">4&nbsp;</option>
            <option value="5">5&nbsp;</option>
            <option value="6">6&nbsp;</option>
            <option value="7">7&nbsp;</option>
            <option value="8">8&nbsp;</option>
            <option value="9">9&nbsp;</option>
            <option value="10">10&nbsp;</option>
          </select>
        </td>
      </tr>
      <tr class="ticket_row">
        <td class="ticket_type_name">
          Optional Accommodation Package
          <div id="descriptionDiv38900568" style="font-size: 11px; line-height: 12px; margin: 5px 0 0 0;">Waterloo Inn</div>
        </td>
        <td nowrap="nowrap">
          15 Sep 2015
        </td>
        <td nowrap="nowrap" class="price_td">
          <input type="hidden" name="cost_38900568_None" value="248.58">
          $265.50
        </td>
        <td nowrap="nowrap" class="fee_td">
          $0.00
        </td>
        <td nowrap="nowrap">
          $34.52
        </td>
        <td align="right" nowrap="nowrap">
          <label class="is-hidden-accessible" for="quant_38900568_None">Ticket Quantity Select</label>
          <select class="ticket_table_select" name="quant_38900568_None" id="quant_38900568_None" onchange="updateCheckout();">
            <option value="0">0</option>
            <option value="1">1&nbsp;</option>
            <option value="2">2&nbsp;</option>
            <option value="3">3&nbsp;</option>
            <option value="4">4&nbsp;</option>
            <option value="5">5&nbsp;</option>
            <option value="6">6&nbsp;</option>
            <option value="7">7&nbsp;</option>
            <option value="8">8&nbsp;</option>
            <option value="9">9&nbsp;</option>
            <option value="10">10&nbsp;</option>
          </select>
        </td>
      </tr>
      <tr class="ticket_row">
        <td class="ticket_type_name">
          Optional Airport Car Service
          <div id="descriptionDiv35827913" style="font-size: 11px; line-height: 12px; margin: 5px 0 0 0;">Total airport transfer package fee including taxes is $455 CDN.  We'll look after arranging return limousine transportation to Toronto Pearson or Region of Waterloo International Airport.  For more details see description.</div>
        </td>
        <td nowrap="nowrap">
          15 Sep 2015
        </td>
        <td nowrap="nowrap" class="price_td">
          <input type="hidden" name="cost_35827913_None" value="378.61">
          $402.65
        </td>
        <td nowrap="nowrap" class="fee_td">
          $0.00
        </td>
        <td nowrap="nowrap">
          $52.34
        </td>
        <td align="right" nowrap="nowrap">
          <label class="is-hidden-accessible" for="quant_35827913_None">Ticket Quantity Select</label>
          <select class="ticket_table_select" name="quant_35827913_None" id="quant_35827913_None" onchange="updateCheckout();">
            <option value="0">0</option>
            <option value="1">1&nbsp;</option>
            <option value="2">2&nbsp;</option>
            <option value="3">3&nbsp;</option>
            <option value="4">4&nbsp;</option>
            <option value="5">5&nbsp;</option>
            <option value="6">6&nbsp;</option>
            <option value="7">7&nbsp;</option>
            <option value="8">8&nbsp;</option>
            <option value="9">9&nbsp;</option>
            <option value="10">10&nbsp;</option>
          </select>
        </td>
      </tr>
    </tbody></table>
    <div id="discounts">
      <div id="discountDiv1">
        <a href="javascript: Hide('discountDiv1'); Show('discountDiv');">Enter promotional code</a>
      </div>
      <div id="discountDiv" style="white-space: nowrap; display: none;">
        If you have a promotional code, enter it here:
        <input type="text" class="discount_smartling_css" name="discount" id="discount_code" value="">&nbsp;&nbsp;
        <span class="button_css">
          <a href="javascript: applyDiscount('external_body');" title="Apply">Apply</a>
        </span>
        <br clear="all">
      </div>
    </div>
  </div><!-- end panel_body -->
  <div id="OrderReg" class="panel_footer" style="text-align: right;  padding: 10px;">
    <table id="freeButton" align="right" style="display: none;">
      <tbody><tr>
        <td>&nbsp;</td>
        <td><span id="primary_cta" class="button_css"><a href="javascript: freeCheckout();" class="js-checkout-button" style="text-decoration:none;color:#FFFFFF;">Register</a></span></td>
      </tr>
    </tbody></table>
    <div id="paidButton">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody><tr>
          <td align="right">
            <div class="cta_container">
              <span id="primary_cta" class="button_css">
                <a style="text-decoration:none;color:#fff;" class="js-checkout-button" href="javascript: Checkout();">
                  Order Now
                </a>
              </span>
            </div>
            <div class="payment_logos">
              <div id="payment_method_logos">
                <img src="https://cdn.evbstatic.com/s3-build/perm_001/c490cb/django/images/business/payment_methods/VISA.png" height="32" alt="VISA" class="js-d-retina" data-d-retina-src="https://cdn.evbstatic.com/s3-build/perm_001/2b157b/django/images/business/payment_methods/VISA@2x.png">
                <img src="https://cdn.evbstatic.com/s3-build/perm_001/965512/django/images/business/payment_methods/MASTERCARD.png" height="32" alt="MASTERCARD" class="js-d-retina" data-d-retina-src="https://cdn.evbstatic.com/s3-build/perm_001/484746/django/images/business/payment_methods/MASTERCARD@2x.png">
                <img src="https://cdn.evbstatic.com/s3-build/perm_001/543067/django/images/business/payment_methods/AMEX.png" height="32" alt="AMEX" class="js-d-retina" data-d-retina-src="https://cdn.evbstatic.com/s3-build/perm_001/954249/django/images/business/payment_methods/AMEX@2x.png">
              </div>
            </div>
          </td>
        </tr>
      </tbody></table>
    </div>    <!-- end paidButton -->
    <!-- end hide_order -->
    <div class="clearfloat"></div>
  </div><!-- end panel_footer -->
</form>
Add Comment
