<section class="sponsorship">
  <div class="container">
    <header class="sponsorship-header">
      <h2>Become a Sponsor</h2>
    </header>

    <div class="sponsorship-main">
      Subdue and blessed heaven green so one make dry of behold god yield ing. Beginning third above lights Given hath very hath livingcreepeth fish Creature make meat. So greater itself fly sixth green.
    </div>
    
    <footer class="sponsorship-footer">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <a href="#" class="btn btn-lg btn-block btn-primary">Become a sponsor</a> 
        </div>  
      </div>
    </footer>
  </div>
</section>
