{{page=vm.page;""}}
<div ng-include=" 'templates/components/page.masthead.tpl.html' "></div>

<div class="post full-mod">
  <div class="post-main page-mod">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="post-content" ng-bind-html="vm.page.body | sanitize" ng-hide="$stateParams.slug == 'waterloos-innovation-ecosystem'"></div>
          <div ng-show="$stateParams.slug == 'waterloos-innovation-ecosystem'" ng-include=" 'templates/components/ecosystem.content.tpl.html' "></div>
          <div ng-show="$stateParams.slug == 'styleguide'" ng-include=" 'templates/components/styleguide.content.tpl.html' "></div>
          <div ng-if="$stateParams.slug == 'register'">
             <h2>To register please fill out the form below.</h2>
            <div style="width:100%; text-align:left;" >
              <iframe  src="//eventbrite.ca/tickets-external?eid=23180961881&ref=etckt" frameborder="0" height="430" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
              <a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.ca/r/etckt">Powered by Eventbrite</a>
              </div>
            </div>
            <!-- <div class="register-page-newsletter" ng-include=" 'templates/components/newsletter.tpl.html' " ng-init=" newsletterTitle='Subscribe for Updates'; newsletterId='1'"></div> -->
          </div>
          <div ng-if="$stateParams.slug == 'vip'">
            <h2>To register please fill out the form below.</h2>
            <div style="width:100%; text-align:left;" >
              <iframe  src="//eventbrite.ca/tickets-external?eid=23180961881&ref=etckt" frameborder="0" height="430" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
              <a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.ca/r/etckt">Powered by Eventbrite</a>
              </div>
            </div>
          </div>
          <div class="pmccord" ng-if="$stateParams.slug == 'qna-patty-mccord'">
            <h2  ">SECURE YOUR SPOT 
AT THE WATERLOO INNOVATION SUMMIT TODAY</h2>
            <div style="width:100%; text-align:left;" >
              <iframe  src="//eventbrite.ca/tickets-external?eid=23180961881&ref=etckt" frameborder="0" height="430" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
              <a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.ca/r/etckt">Powered by Eventbrite</a>
              </div>
            </div>
          </div>
          <section class="all-videos" ng-show="vm.videos">
            <div class="loader" ng-show="vm.loadingVideos">
              <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
            <div class="row" ng-hide="vm.loadingVideos">
              <ul class="list-unstyled videos-list">
                <li ng-repeat="video in vm.videos">
                  <div class='embed-container'>
                    <iframe ng-src="{{video.video_url|trustsrc}}" frameborder='0' allowfullscreen></iframe>
                  </div>
                  <div class="embed-title">{{video.title}}</div>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="col-md-4" ng-hide="true">
          <div ng-include=" 'templates/components/newsletter.tpl.html' " ng-init="newsletterId=2"></div>
          <div ng-include=" 'templates/components/ad.tpl.html' "></div>
        </div>
      </div>
    </div>
  </div>
</div>
