{{page=vm.page;""}}
<div ng-include=" 'templates/components/page.masthead.tpl.html' "></div>

<ul class="list-unstyled levels-list">
  <li ng-repeat="level in vm.levels">
    <div ng-include=" 'templates/partials/level.tpl.html' "></div>
  </li>
</ul>
<div class="container sponsors">
<header class="sponsors-header">
  <h2>Become a sponsor</h2>
        <p>For sponsorship opportunities please contact Kristen Gillett at <a class="sponsor-mailto" href="mailto:kgillett@waterlooinnovationsummit.com?subject=2016 Sponsorship inquiry from the Waterloo Innovation Summit website">kgillett@waterlooinnovationsummit.com </a></p>
</header>
</div>
