@import "config/variables";

@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-weight: $font-weight-normal;

  @media screen and (max-width: $container-tablet) {
    font-size: 16px;
  }
}

@import "config/mixins";

@import "vendor/angular-ui";
@import "vendor/anim-in-out";
@import "vendor/slick";
@import "vendor/slick-theme";

@import "base/buttons";
@import "base/images";
@import "base/lists";
@import "base/tabs";
@import "base/typography";

@import "components/ad";
@import "components/agenda";
@import "components/agenda-search-bar";
@import "components/author";
@import "components/banner";
@import "components/footer";
@import "components/home";
@import "components/navbar";
@import "components/newsletter";
@import "components/organizer";
@import "components/page-masthead";
@import "components/post";
@import "components/post-search-bar";
@import "components/secondary-navigation";
@import "components/session";
@import "components/slick";
@import "components/social-bar";
@import "components/social";
@import "components/speaker";
@import "components/speaker-search-bar";
@import "components/sponsor";
@import "components/text-block";
@import "components/tint";
@import "components/tweet";
@import "components/ecosystem";
@import "components/video";

@import "partials/posts-related";
@import "partials/speakers-keynote";
@import "partials/sponsors";
@import "partials/sponsorship";
