.navbar {
  $navbar-font-size: $font-size-small;
  $navbar-font-weight: 600;
  $navbar-nav-offset: -20px;

  font-size: $navbar-font-size;
  font-weight: $navbar-font-weight;
  margin-bottom: 0;
  text-transform: uppercase;

  .navbar-nav {
    margin-left: $navbar-nav-offset;
  }

  .navbar-nav > li > a {
    &.active {
      color: $brand-yellow;
    }
  }
}
