<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="secondary-navigation">
          <div class="twitter-hashtag"><span>#</span>WINS16</div>
          <ul class="list-inline">
            <li><a href="mailto:info@waterlooinnovationsummit.com
            ">Contact Us</a></li>
            <li><a href="https://uwaterloo.ca/privacy/privacy-statement">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="organizer">
          <a href="http://www.communitech.com" title="Visit Communitech">
            <img src="./assets/dist/img/organizers/communitech.png" alt="Logo for Communitech">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="organizer">
          <a href="http://www.uwaterloo.ca" title="Visit University of Waterloo">
            <img src="./assets/dist/img/organizers/uwaterloo.png" alt="Logo for University of Waterloo">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
