<div class="social">
  <ul class="list-inline">
    <li><a href="https://www.facebook.com/university.waterloo" title="Follow us on Facebook"><img src=" ./assets/dist/img/icons/social-facebook.png" alt="Follow us on Facebook"></a></li>
    <li><a href="https://www.twitter.com/uwaterloo" title="Follow us on Twitter"><img src=" ./assets/dist/img/icons/social-twitter.png" alt="Follow us on Twitter"></a></li>
    <li><a href="https://ca.linkedin.com/edu/university-of-waterloo-10875" title="Follow us on Linkedin"><img src=" ./assets/dist/img/icons/social-linkedin.png" alt="Follow us on Linkedin"></a></li>
    <li><a href="mailto:waterlooinnovationsummit@uwaterloo.ca" title="Contact Us"><img src=" ./assets/dist/img/icons/social-email.png" alt="Contact Us"></a></li>
  </ul>
</div>
